.DS_Store
/front_src/bower_components
/web/css
/web/js
/node_modules
/vendor

/web/bundles/
/app/config/parameters.yml
/var/bootstrap.php.cache
/var/SymfonyRequirements.php
/var/cache/*
/var/logs/*
!var/cache/.gitkeep
!var/logs/.gitkeep
/build/
/vendor/
/composer.phar
/_ignore
/.idea
/nohup.out
